body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
}

@media all and (max-width:767px)
{
    .banner-responsive{
        height: 250px;
        object-fit: cover;
    }
}

@media all and (min-width: 768px) and (max-width: 991px){
    
}

@media all and (min-width:992px)
{
    .img-producto{
        width: 600px;
        object-fit: cover;
    }
}